<% if @article.errors.any?%>
    <div class="container">
        <div class= " alert alert-danger" role="alert">
            <%= render 'shared/errors' %> 
        </div>
    </div>
<% end %>
<div class="container d-flex justify-content-center align-items-center drop-shadow" style="margin: 170px Auto; background-color: rgba(93, 134, 97, 0.298); max-width: 280px; max-height: 280px; box-shadow: 4px 4px 4px 4px gray;">
    <%= form_with(model: @article, data: { turbo: false }, local: true) do |f| %>

        <p>
            <%= f.label :title %><br>
            <%= f.text_field :title %>
        </p>
        <p>
            <%= f.label :description %><br>
            <%= f.text_field :description %>
        </p>
        <p>
            <%= f.submit  class: "rounded-button", style: "height: 45px; width: 110px; font-size: 15px"%>
            <a href="javascript:history.go(-1)">
                <button type="button" class="btn btn-success" style="height: 45px; width: 110px; font-size: 15px">Cancel</button>
            </a>
        </p>

    <% end %>
</div>
